.container {
  display: grid;
  background: #eee;
  grid:
    "img header" 10rem
    "separator-2 separator-3" auto
    "slogan-container slogan-container"
    "menu menu" auto
    "arrow arrow"
    "general general" auto
    / 25rem auto;
}

.general {
  grid-area: general;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background: #ddd;
  .text {
    margin: 8rem 0 2.5rem;
    height: min-content;
    width: calc(100% - 20%);
    background: #eee;
    border-radius: 3rem;
    text-align: center;
    border-left: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
    box-shadow: var(--box-shadow);
    p {
      font-weight: 400;
      font-size: 1.9rem;
      padding: 2rem 3rem;
    }
  }
}
