@use "media-queries" as *;
.mail-container {
  grid-area: mail;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  margin: 0;
}

.mail-content-1 {
  background: white;
  height: 5rem;
  width: calc(50% - 10rem);
  margin: 0;
  transform: translateX(-96rem);
  transition: all 1s;
  border-radius: 0 3rem 3rem 0;
  z-index: 0;
  @include xs {
    transform: translateX(0);
  }
  @include sm {
    transform: translateX(0);
  }
  @include md {
    transform: translateX(0);
  }
  &.active {
    transform: translateX(0);
    border-radius: 0;
  }
}
.mail-content-2 {
  background: white;
  height: 5rem;
  width: calc(50% - 10rem);
  margin: 0;
  transform: translateX(96rem);
  transition: all 1s;
  border-radius: 3rem 0 0 3rem;
  z-index: 0;
  @include xs {
    transform: translateX(0);
  }
  @include sm {
    transform: translateX(0);
  }
  @include md {
    transform: translateX(0);
  }
  &.active {
    transform: translateX(0);
    border-radius: 0;
  }
}

.contact {
  display: flex;
  justify-content: center;
  height: 5rem;
  width: 40rem;
  background-color: #eee;
  color: #eee;
  position: relative;
  overflow: hidden;
  p {
    font-family: var(--font-family);
    letter-spacing: 0.1rem;
    font-size: 2rem;
    font-weight: 400;
  }
  &:hover::before {
    opacity: 1;
  }
  &.active {
    background: white;
    color: var(--blue);
    transition: all 1s;
    transition-delay: 0.8s;
  }
}

.contact::before {
  content: "contact@auro-it-consulting.com";
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  background: white;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s;
  font-weight: 400;
  font-size: 1.8rem;
  font-family: var(--font-family);
  text-decoration: underline;
  letter-spacing: 0.1rem;
  border-radius: 0;
  opacity: 0;
}
